body {
background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
}

button.ddd {
 width: 700px;
 height: 80px;
 cursor:pointer;
 border:none;
 background: #FF9E80;
 font-family: Times New Roman;
 font-size: 23px;
 letter-spacing:3px;
 border-radius:40px;
 outline:none;
 display: inline-block;
}
a {
text-decoration: none;
color: black;
padding: 30px 10px;
}
button.ddd:hover {
 transform:translateY(-5px);
 box-shadow:0 7px 0;
 color:#FF9E80;
}
button.ddd:active {
 transform:translateY(-2px);
 box-shadow:0 3px 0;
}
.wow {
	font-size: 20px;
	letter-spacing: 3px;
	color: #FAFAFA;
}
.wow:hover{
	text-shadow: 0 0 10px #06f9fb, 0 0 30px #06f9fb, 0 0 80px #06f9fb;
}

.wrapper-col {
	padding: 10px 0px 30px 30px;
	width: 30%;
	background: #F8BBD0;
	left: 0;
	right: 0;
	margin: 0 auto;
	border: 6px solid #D50000;
	border-radius: 20px;
}

button.js-copy-btn { 
  text-align: center;
  width: 130px;
  height: 30px;
  color: #fff;
  border-radius: 15px;
  padding: 9px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
  border: none;
  left: 25px;
}

button.js-copy-btn:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

button.is-copy {
   background-color: green;
   color: #fff;  
}

.pages {
	font-size: 30px;
	padding: 30px 0px 20px 20px;

}
a span {
	font-size: 30px;
	opacity: 0;
}

